<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Department.DAL.Properties.Settings.EmployeesAndRewardsConnectionString"
       connectionString="Data Source=ANN\SQLEXPRESS;Initial Catalog=EmployeesAndRewards;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="dbConnection" value="Server=.\ANN\SQLEXPRESS;Database=EmployeesAndRewards;Integrated Security=true"/>
  </appSettings>
</configuration>