@using Entities;

@model RewardViewModel

@{
	ViewBag.Title = "Deleted";
	var currentReward = Model;
	if (currentReward == null)
	{
		currentReward = new RewardViewModel();
	}
}

<h2>Deleted Reward?</h2>
<form action="Delete" method="post">
	<div class="form-group">
		@Html.ActionLink("Delete", "Delete", "Reward", new { RewardId = @currentReward.ID }, new { @class = "btn btn-danger" })
		@Html.ActionLink("Cancel", "Index", "Reward", new { }, new { @class = "btn btn-default" })
	</div>
</form>
